.carousel {
  position: relative;
  overflow: hidden;
  background-color: #ccc;
  height: 400px;
  width: 960px;
  margin: 0 auto;
  padding: 0;

  h2{
    font-size: 1.2em;
    font-size: 1.2rem;
  }
  h3{
    font-size: 1em;
    font-size: 1rem;
  }
  p{
    font-size: .8em;
    font-size: .8rem;
  }

  #controls {
    position: absolute;
    bottom:0px;
    left: 14px;
    top: 352px;
    z-index: 18;

    #buttonBox {
      position: relative;
      left: 794px;
      top: -12px;
      width: 10em;
      height: 2.2em;

      .carr-arrow, .carr-bar {
        display: block;
        position: absolute;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;

        &:hover {
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
        }
      }

      #prevFrameBtn, #nextFrameBtn, #pauseFrameBtn {
        display: block;
        position: absolute;
        background-color: #e8e6e6;
        cursor: pointer;
        @include transform(rotate(0) scale(1) translate(0px));
        -webkit-transition: all 0.3s;
        transition: all 0.3s;


        &:hover {
          background-color: #d46a6a;
          @include transform(rotate(0) scale(1.06) translate(0px));
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
        }

      }

      #prevFrameBtn, #nextFrameBtn {
        width: 2em;
        height: 2em;
        border-radius: 2em;
        border: 1px solid #332e2e;

        .carr-arrow {

        }

      }

      #prevFrameBtn {
        .carr-arrow {
          border: 4px solid #332e2e;
          border-top: 0;
          border-right: 0;
          height: 0.8em;
          width: 0.8em;
          top: 0.6em;
          left: 0.3em;
          @include transform(rotate(45deg) scale(1) translate(0px));

          &.right-arrow {
            left: 0.8em;
          }
        }

        &:hover {
          border-color: darken(#332e2e,8%);
          @include transform(rotate(0) scale(1.06) translate(0px));
          .carr-arrow {
            border-color: darken(#332e2e,8%);
            @include transform(rotate(45deg) scale(1.06) translate(0px));
          }
        }

      }

      #pauseFrameBtn {
        width: 2em;
        height: 2em;
        left: 3.5em;
        background-color: #e8e6e6;
        border-radius: 2em;
        border: 1px solid #585656;

        .carr-bar {
          height: 1.1em;
          width: 0.4em;
          top: 0.4em;
          left: 0.5em;
          background-color: #332e2e;
          &.right-bar {
            left: 1.0em;
          }
        }

        &:hover {
          .carr-bar {
            background-color: darken(#332e2e,8%);
            @include transform(rotate(0deg) scale(1.06) translate(0px));
          }
        }

      }
      #nextFrameBtn {
        top:0;
        left: 7em;

        .carr-arrow{
          border: 4px solid #332e2e;
          border-bottom: 0;
          border-left: 0;
          height: 0.8em;
          width: 0.8em;
          top: 0.6em;
          left:0.3em;
          @include transform(rotate(45deg) scale(1) translate(0px));

          &.right-arrow {
            left: 0.8em;
          }
        }
        &:hover {
          border-color: darken(#332e2e,8%);
          @include transform(rotate(0deg) scale(1.06) translateX(0px));
          .carr-arrow {
            border-color: darken(#332e2e,8%);
            @include transform(rotate(45deg) scale(1.06) translateX(0px));
          }
        }
      }

    }
  }

  figure {
    display: block;
    position: absolute;
    height: 400px;
    width: 960px;

    .information{
      position: absolute;
      padding: .4em;
      background: #FFD1AA;
      position: absolute;
      z-index: 4;

      &.left {
        height: 101%;
        left: 0;
        top: 0;
        right: 600px;
        bottom: 0;
        border-right: 64px double #D49A6A;
      }
      &.right{
        height: 101%;
        left: 600px;
        top: 0;
        right: 0;
        bottom: 0;
        border-left: 64px double #D49A6A;
      }
      .high {
        margin-top: 0;
      }
      &.bubble {
        border: 2px double #D49A6A;
        top: .6em;
        left: .6em;
        border-radius: 12px 24px 36px 48px;
      }
    }
    img{
      position: absolute;
      z-index: 2;

      &.right {
        left: 360px;
      }
    }
    .caption {
      font-size: .96em;
      color: #ccc;
      background: #141414;
      background: rgba(20,20,20,.9);
      position: absolute;
      padding: .6em;
      top: 310px;
      right: 0;
      left: 0;
      bottom: 0;
      z-index:6;
      display: none;
    }
  }


  .frameMarker {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #D49A6A;
    margin: 28px 0 -26px;
  }



  @media (max-width: 769px) {
    display: none;
  }
  @media (max-width: 959px) {
    border: 1px solid #888;
    width: 640px;
    height: 260px;

    b {
      font-family: 'Arimo bold';
      text-decoration: none;
      color: #c1380d;
      text-shadow: 1px 1px 8px #444;

      &.secondary {
        color: #618aea;
        text-shadow: 1px 1px 4px #0f0f0f;
      }
    }
    i {
      color: #6060d4;
      font-family: 'Arimo italic';

      &.plain {
        color: #444;
      }
    }
    em {
      text-decoration: none;
      font-style: normal;
    }

    #controls {
      left: 12px;
      top: 234px;

      #buttonBox {
        position: absolute;
        left: 470px;
        top: -10px;
      }
    }

    figure {
      height: 266px;
      width: 640px;

      .information{
        padding: .2em;
        &.left {
          right: 400px;
        }
        &.shrink {
          font-size: .94em;
        }
        &.shrink-less {
          font-size: .97em;
        }
        &.right{
          left: 400px;
        }
        h2 {
          &.lift {
            margin: -10px 0;
          }
          &.lift-high {
            margin: -20px 0;
          }
        }
        &.bubble {
          display: none;
          height: 20%;
          top: 2em;
          left: .2em;
          border-radius: 8px 18px 28px 36px;
        }
      }
      img{
        width: 400px;
        height: 266px;

        &.wide {
          width: 640px;
        }
        &.right {
          left: 240px;
          width:400px;
        }
      }
      .caption {
        font-size: .88em;
        top: 176px;

        &.large {
          top: 168px;
        }
      }
    }
    .frameMarker {
      margin: 6px auto;
    }

    // END OF THE LITTLE SLIDESHOW

  } /*END OF SMALL */
  @media (min-width: 960px) {
    display: block;
    .information {
      font-size: 1.2em;
      line-height: 1.8em;

      b {
        font-family: 'Arimo bold';
        text-decoration: none;
        color: #c1380d;
        text-shadow: 1px 1px 8px #444;
        font-size: 1.3em;

        &.secondary {
          font-size: 1.3em;
          color: #618aea;
          text-shadow: 1px 1px 4px #0f0f0f;
        }
      }
      i {
        color: #6060d4;
        font-family: 'Arimo italic';

        &.plain {
          color: #444;
        }
      }
      em {
        text-decoration: underline;
        font-style: normal;
      }
    }
  } /*END OF MEDIUM */
  @media (min-width: 1200px) {
    border: 1px solid #888;
  } /*END OF LARGE DEVICES*/


  .no-js & {
    display: none;
  }
  .lt-ie9 & {
    display: none;
  }

}
